extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Kim Drezdon

        p.lead.text-light
          | Full Stack JavaScript Developer

        .portfolio-bio
          p
            | Hi there! I am a web developer and lifelong learner residing in Austin, Texas. I am currently enrolled in the Full Stack JavaScript Techdegree program at Treehouse. So far, it has been an exciting journey learning how to build dynamic interactive websites. I am currently working remotely as an accountant, but I look forward to getting the opportunity to work full time in the tech industry as a developer. 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavaScript
          li jQuery
          li AJAX
          li Node.js
          li Express
          li HTML
          li CSS
          li Visual Studio Code
          li Git/Github
          li Pug
        h6 Contact Info

        ul
          li 262-902-6932
          li kdrezdon@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/kimdrezdon' target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/kimdrezdon' target='_blank') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  