extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Kim Drezdon

        p.lead.text-light
          | Full Stack JavaScript Developer

        .portfolio-bio
          p
            | Hi there! I am a developer and lifelong learner residing in Austin, Texas. I am a recent graduate of the Full Stack JavaScript Techdegree program at Treehouse. So far, it has been an exciting journey learning how to build dynamic interactive apps. I am currently working remotely as an accountant, but I look forward to getting the opportunity to work in the tech industry as a developer.
      
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          each technology in technologies
            li
                img.logo(src=`${technology.image_url}`)
                span=`     ${technology.name}`
                

        h6 Contact Info

        ul
          li 262-902-6932
          li kim.drezdon@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/kimdrezdon' target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/kimdrezdon' target='_blank') GitHub
        a.button.expanded(href='https://www.codewars.com/users/kimdrezdon' target='_blank') CodeWars
        a.button.expanded(href='https://www.hackerrank.com/kim_drezdon' target='_blank') HackerRank
        a.button.expanded(href='https://twitter.com/KimDrezdon' target='_blank') Twitter #100DaysOfCode
        a.button.expanded(href='https://www.freecodecamp.org/kimdrezdon' target='_blank') freeCodeCamp
        
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  