extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Kim Drezdon

        p.lead.text-light
          | Full Stack JavaScript Developer

        .portfolio-bio
          p
            | Hi there! I am a developer and lifelong learner residing in Austin, Texas. I am a recent graduate of the Full Stack JavaScript Techdegree program at Treehouse. It has been an exciting journey learning how to build dynamic interactive apps. I am self-motivated and enthusiastic about programming, with a desire to learn and work as part of a team. I offer strong analytical and problem solving skills, with a professional background in the deadline-driven field of accounting. I am currently working on the #100DaysOfCode challenge. Check out my profiles!
      
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          each technology in technologies
            li
                img.logo(src=`${technology.image_url}`)
                span=`     ${technology.name}`
                

        h6 Contact Info

        ul
          li kim.drezdon@gmail.com

        each profile in profiles
          a.button.expanded(href=`${profile.link}` target='_blank')= `${profile.name}`

        
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  