body{
  background-color: #F4F9F7;
}

h1{
  color: #21252B;
}

h1,h4{
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 2.5px;
  -webkit-text-transform: uppercase;
  text-transform: uppercase;
  font-weight: 400;
}

h5,h6,p,a{
  font-family: 'Roboto', sans-serif;
  color: #3B3F46;
}

h6{
  -webkit-text-transform: uppercase;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2.5px;
}

h5{
  font-size: 1.1rem;
  font-weight: 500;
}

p{
  font-size: 18px;
  font-weight: 400;
}

.round{
  border-radius: 5px;
}

.text-light{
  color: #3B3F46;
}

.button{
  background-color: #E24A2B;
  color: #F4F9F7;
}

.button:hover{
  background-color: #A53620;
}

.error-button {
  margin: auto;
  text-align: center;
  display: block;
  width: 200px;
}

a:hover{
  color: #21252B;
}

.image{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1rem;
  border: solid 4px #DEE3E1;
  border-radius: 0;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
  line-height: 0;
}

.thumbnail{
  border: none;
  box-shadow: 0 0 0 1px#DEE3E1;
}

.portfolio-me{
  padding: 20px;
  background-color: #143642;
  color: #F4F9F7;
  box-shadow: none !important;
}

  .portfolio-me p{
    font-size: 14px;
    color: #D7E5D5;
  }

  .portfolio-me a{
    color: #D7E5D5;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
  }

  .portfolio-me a:hover{
    color: #A3C69F;
  }

.portfolio-breadcrumb{
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #F4F9F7;
}

 .portfolio-breadcrumb a{
   font-size: 13px;
   font-weight: 500;
   letter-spacing: 2.5px;
   -webkit-text-transform: uppercase;
   text-transform: uppercase;
 }

.portfolio-intro{
  margin: 0;
  padding: 40px 50px 30px;
}

  .portfolio-intro p{
    border-bottom: 1px solid #F4F9F7;
    padding-bottom: 40px;
  }

.portfolio-index{
  margin: 0;
  padding: 10px 50px;
}

  .portfolio-index .thumbnail{
    margin-bottom: 5px;
  }

    .portfolio-index .thumbnail:hover{
      margin-bottom: 5px;
    }

  .portfolio-index a{
    color: #222;
  }

  .portfolio-index .cell{
    margin-bottom: 15px;
    transition: 0.4s;
  }

  .portfolio-index .cell:hover{
    margin-bottom: 15px;
    transform: scale(1.1);
    transition: 0.4s;
  }

.portfolio-meta{
  padding-left: 20px;
}

  .portfolio-meta .button{
    margin-bottom: 5px;
  }

.portfolio-project p{
  border: none;
}

  .portfolio-project li{
    font-size: 14px;
    color: #3B3F46;
  }

.portfolio-bio{
  line-height: 25px;
}

